body {
    background-color: rgb(55, 46, 46);
    text-align: left;
    color: white;
    background-image: url(doeake.png);
    background-size: cover;
    cursor: crosshair;
    


}

background-image {
    opacity: 0.5;
}

.button {
    background-color: rgb(115, 0, 255);
    color: rgb(94, 255, 0);
    padding: 10px 20px;
    border-radius: 5px;
    text-align: left;
    cursor: crosshair;

}

cursor {
    cursor: crosshair;

}


h1 {
    text-align: center;
    font-size: 70px;
    color: lime;
}

p {
    font-size: 20px;
    color: rgb(255, 0, 72);
}



.image {

    position: absolute;
}



h2 {
    color: rgb(131, 226, 43);
}

a {
    color: rgb(115, 0, 255);
}



